/*General Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color:#ebe1d8;
}

/* body */
body{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    background-image: url('images/Homepage.jpg');
    background-size: contain;         /* fills the screen perfectly */
    background-repeat: no-repeat;    
}

/* header */
#header {
    height: 100vh;
    width: 100vw;
    margin-top: 15px;
    padding-top: 5px;
    margin-left: 60px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
    align-items: center;
    margin-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 50px;
    height: 50px;
    width: 90%;
    background-color: #c2a361;
}

.first, .second {
    font-family:  sans-serif;
    font-weight: 600;
    font-size: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav a {
    color: #302a18;
}

nav img {
    height: 190px;
}

.header {
    margin-top: 100px;
    color: #ffffff;
}

.header h1 {
    font-family: sans-serif;
    font-size: 70px;
    font-weight: bold;
    width: 700px;
    margin-bottom: 30px;
}

.header h3 {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    font-weight: 400;
    width: 450px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.all-section {
    margin-top: 150px;
    padding-top: 20px;
    height: 960px;
    width: 100vw;
    background-color: #d9cfc5;

}
